

body
{
	width: 100%;
	background-color: #E0E0E0;
	font-family: 'Cormorant Garamond', sans-serif;
	font-size: 1em;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0;
	margin-bottom: 0;
}

#conteneur{
	display: flex;
	background-color: white;
	width: 95%;
	margin: auto;
}

     /*côté gauche*/

aside{
	width: 35%;
	background-color: #03A9F4;
  font-size: 1.2em;
	display: flex;
	flex-direction: column;

}

/*photos profil*/

.photos{ 
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: -20px;    
}

h1 img{
  border: 2px solid #283593;
  width: 230px;
  height: 230px;
  border-radius: 50%; 
}

img{
  width: inherit;
  height: inherit;
  border-radius: inherit;
}


/*contact*/


aside h2{
   font-family: 'Radley', serif;
   font-size: 1.5em;
   text-align: center;
   color: #03A9F4;
   background-color: #1976D2;
   padding: 10px;
} 

aside p{
   width: 80%;
   margin: auto;
   text-align: justify;
} 
 
.contact1 p{
 margin-bottom: 10px;
}

.contact1{
  margin-top: 30px;
}

/*a propos de moi*/

.description1{
  margin-top: 30px;
}

.description1 p{
  margin-bottom: 10px;
}

/*loisirs*/

.loisirs h2{
	margin-bottom: 30px;
}

.loisirs{
 padding-bottom: 35px;
 margin-top: auto;
 
}

.loisirs i{
 border: 2.5px #1976D2 solid;
 border-radius: 50%;
 padding: 10px;
 color: #1976D2;
}

.logos{
  display: flex;
  justify-content: space-around;
    
}

      /*côté droit*/

main{
  font-size: 1.2em;
  width: 60%;
  margin-right: auto;
  margin-left: auto;       
}

/*nom*/

.right-element{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: auto;
  margin-bottom: 100px;
  padding-top: 80px;
}

.prenom{
  font-family: 'Radley', serif;
  color: #03A9F4;
}

.right-element h1{       /*titre*/
  font-family: 'Radley', serif;
  font-size: 2.5em;
  margin-bottom: -10px;
}

.dev{
  border-bottom: 2px solid #03A9F4;
}


/*formation*/

.ensemble h2{
  font-family: Arial, sans-serif, serif;
  font-size: 1.5em;
  font-weight: normal;
  display: inline;
}

.list{
  border-bottom: 2px solid #03A9F4; /*global :formation,expérience et recommandation*/
  padding-bottom: 5px;
  margin-bottom: 20px;
  margin-top: 20px;

}

.list i{
 color: #03A9F4;
 padding-right: 10px;
}


.date i{           /*global*/
  color: #03A9F4;
  padding-right: 20px;
  
}

.date p{
  display: inline;
}

.detail{   /*global*/
  text-align: justify;
}

.formation1{
  display: flex;
  margin-top: -10px;
}

.date{
  margin-top: 20px;
  min-width: 200px;
}

/*expérience professionnelle*/

.experience{
  margin-top: 20px;
  
}

.experience1{
  display: flex;
  margin-top: -10px;
}
 
/*recommandation*/

.recommandation{
  margin-top: 20px;
}

.recommandation1{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: -10px;
  margin-bottom: 15px;
}

.recommandation p{
  width: 200px;
}


      /*Partie Responsive*/


 @media all and (min-width: 768px) and (max-width: 991.98px){

   
body{
  width: 100%;
  }


#conteneur{
  display: flex;
  flex-direction: column; 
  width: 99%;
  }

   /*côté gauche*/

aside{
  width: 100%;
  }

figure{
  border: 2px solid #283593;
  width: 300px;
  height: 300px;
  border-radius: 50%; 
  }

.contact h2, .description h2, .loisirs h2{
  font-size: 1.5em;
  }

  /*côté droit*/
  
main{
  width: 95%;
  margin-top: -110px;
  }

.right-element{
  text-align: center;
  margin: 40px 0px 80px ;
  }

.formation h2, .experience h2, .recommandation h2{
  font-size: 1.4em;
 } 
}


@media all and (max-width: 767.98px){

   body{
    font-size: 1em; 
    width: 100%;
    background-color: white;
  }
  
  #conteneur{
    display: flex;
    flex-direction: column; 
  }


  /*côté gauche*/

  aside{
   width: 100%;
  }

  figure{
   border: 2px solid #283593;
   width: 200px;
   height: 200px;
   border-radius: 50%; 
  }

  .contact h2, .description h2, .loisirs h2{
  font-size: 1.5em;
  }

  .loisirs{
   width: 100%;
   margin-bottom: 25px;
  }

  /*côté droit*/
   
   main{
    width: 98%;
    margin-top: -110px;
  }

  .right-element{
    text-align: center;
    margin: 40px 0px 80px ;
  
  }

  .right-element h1{
    font-size: 2em;
  }

  .formation h2, .experience h2, .recommandation h2{
  font-size: 1.1em;
 } 

  .formation1, .experience1{
    display: flex;
    flex-direction: column;
  }
}

  
